.formWrapper {
  display: grid;
  grid-template-columns: 30vw;
  border: 1px solid black;
  border-radius: 15px;
  padding: 3vh 2vw;
}

.fromLabel {
  width: 100%;
  padding: 1vh 1vw;
  display: grid;
  gap: 2vh;
}

.formInput {
  display: block;
  width: 100%;
  padding: 1vh 2vw;
}

.btn {
  margin: 2vh 2vw;
  padding: 1vh 2vw;
}
