.wrapper {
  width: 50vw;
  margin: 2vh 2vw;
  display: grid;
  gap: 2vh;
}

.textInput {
  padding: 1vh 1vw;
}

.submitInput {
  padding: 1vh 1vw;
}

.header {
  text-align: center;
  line-height: 220%;
  font-size: 36px;
}
