.Pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  justify-items: center;
}

.Pagination > input[type="button"] {
  background: snow;
  color: teal;
  border-radius: 2rem;
  padding: 0.8rem 1.8rem;
  border: none;
  box-shadow: 0 0 4px teal;
  font-size: 18px;
}

.Pagination > input[type="button"]:disabled {
  box-shadow: none;
}
